/* Had to use inhert on the universal selector because the button element was not inheriting line height b/c come with predefined properties */
* {
  line-height: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 825px;
  margin: 20px auto;
  position: relative;
}
.product {
  border: 5px solid black;
}

/* TITLE */
.product-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #dddddd;
  font-size: 17px;
  padding: 10px 10px;
}

/* SALE */
.product-title::after {
  content: "SALE";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  background-color: red;
  padding: 6px 12px;

  display: inline-block;
  position: absolute;
  top: -10px;
  left: -25px;
}

/* PRODUCT PAGE */
.price {
  font-size: 22px;
  font-weight: bold;
}

.shipping {
  text-transform: uppercase;
  font-size: 12px;
  color: #2e2e2e;
  font-weight: bold;
  margin-bottom: 15px;
}

.description {
  margin-bottom: 10px;
}

/* MORE INFO */
.more-info:link,
.more-info:visited {
  color: black;
  text-decoration: underline solid;
  display: inline-block;
  margin-bottom: 10px;
}

.more-info:active,
.more-info:hover {
  color: black;
  text-decoration: none;
}

/* SHOE COLOURS */
.black {
  background-color: black;
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.blue {
  background-color: rgb(20, 117, 196);
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.red {
  background-color: red;
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.yellow {
  background-color: rgb(241, 215, 65);
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.green {
  background-color: rgb(65, 180, 94);
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.brown {
  background-color: rgb(143, 87, 41);
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 15px;
}

.details-list li {
  list-style: square;
  margin-left: 23px;
  margin-bottom: 10px;
}

/* ADD TO CART BUTTON */
.add-cart {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none; /* had to put this because it was showing a grey border on the left */
  border-top: 5px solid black;
  padding: 10px 10px;
  width: 100%;
  height: auto;
}

.add-cart:hover,
.add-cart:active {
  background-color: white;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-top: 5px solid black;
  /* padding: 4px 4px; */
  width: 100%;
  height: auto;
}
