/* * {} = Universal selector: This selects all elements in the code */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #444444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* do this to center the web page */
}

.main-header {
  background-color: #dfdfdf;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  /* 1st value is padding on left/right and 2nd value padding on top/bottom */
  margin-bottom: 60px;
  height: 80px;
}

nav {
  font-size: 18px;
}

.post-header {
  margin-bottom: 40px;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #dfdfdf;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  width: 500px;
  /* this will be a sidebar so no need to be as wide as the page */
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 48px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 25px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
  /* to remove the margin from the last list element as we do not need that space */
}

#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

a:link {
  color: #1098ad;
  text-decoration: none;
  font-family: sans-serif;
}
a:visited {
  /* color: #dfdfdf; */
  color: #1098ad;
  font-family: sans-serif;
}
a:hover {
  color: orangered;
  text-decoration: underline orangered;
  /* font-weight: bold; */
  font-family: sans-serif;
}
a:active {
  background-color: black;
  font-style: italic;
  font-family: sans-serif;
}

.post-img {
  /* percentages means the image adapts to zooming in/out of the webpage and the screen width */
  width: 100%;
  /* we do this so we don't mess with the aspect ratio due to height being set in html */
  height: auto;
}

/* DEMOS */

/* * {
  border-top: 10px solid #1098ad;
} */
/*article header p {
  font-style: italic;
}*/
/* footer p {
  font-size: 16px;
} */
/* ul {
  list-style: none;
} */
/* body {
  background-color: orange;
} */
/* .first-li {
  font-weight: bold;
} */
/* li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
li:nth-child(2) {
  color: red;
} */
/* Resolving conflicts */
/* #copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green; } */
/* On the browser it shows up as red becuse the ID selector has priority */
/* nav a:link,
nav p {
  font-size: 18px;
} */
