/* Had to use inhert on the universal selector because the button element was not inheriting line height b/c come with predefined properties */
* {
  line-height: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  width: 908px;
  margin: 20px auto;
  position: relative;
  border: 5px solid black;
}

/* TITLE */
.product-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #dddddd;
  font-size: 20px;
  padding: 10px 10px;
}

/* SALE */
.product-title::after {
  content: "SALE";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  background-color: red;
  padding: 6px 12px;

  display: inline-block;
  position: absolute;
  top: -10px;
  left: -25px;
}

/* PRODUCT PAGE */
/* centre page */
.price {
  font-size: 23px;
  font-weight: bold;
  width: 100px;
  height: 31px;
  /* margin-bottom: 18px; */
}

.shipping {
  text-transform: uppercase;
  font-size: 12px;
  color: #2e2e2e;
  font-weight: bold;
}

.description {
  margin-bottom: 15px;
  font-size: 17px;
}

/* MORE INFO */
.more-info:link,
.more-info:visited {
  color: black;
  text-decoration: underline solid;
  display: inline-block;
  margin-bottom: 20px;
}

.more-info:active,
.more-info:hover {
  color: black;
  text-decoration: none;
}

/* SHOE COLOURS */
.black {
  background-color: black;
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.blue {
  background-color: rgb(20, 117, 196);
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.red {
  background-color: red;
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.yellow {
  background-color: rgb(241, 215, 65);
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.green {
  background-color: rgb(65, 180, 94);
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.brown {
  background-color: rgb(143, 87, 41);
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* right page */
/* PRODUCT DETAILS */

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
}

.details-list li {
  list-style: square;
  margin-left: 23px;
  margin-bottom: 13px;
  font-size: 17px;
}

/* ADD TO CART BUTTON */
.add-cart {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none; /* had to put this because it was showing a grey border on the left */
  border-top: 5px solid black;
  padding: 10px 10px;
  width: 100%;
  height: auto;
}

.add-cart:hover,
.add-cart:active {
  background-color: white;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-top: 5px solid black;
  width: 100%;
  height: auto;
}

/* FLEX */

.row {
  display: flex;
  flex: 1 1 0px;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.grow {
  flex: 1 1 0px;
}

.row-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 35px;
  margin-bottom: 20px;
}

.colours {
  display: flex;
}

.right {
  margin-right: 20px;
}
